.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 170px;
  background-color: white;
  border-radius: 10px;
  height: 200px;
}

.recipe-card__image img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.recipe-card__image img {
  width: 170px;
}

.recipe-card__title {
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;
}

.recipe-card__title h3 {
  font-size: 1rem;
  font-weight: 600;
  max-height: 50px;
}
