:root {
  --purple: #413c58;
  --white: #eee;
  --green: #38726c;
  --red: #d55672;
  --orange: #ff8552;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

body {
  background-color: var(--white);
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
